<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .row{
            display: flex
        }
        .box{
            height:200px;
            width:200px;
            margin:.5%;
            border: 1px solid black
        }

        .box2{
            width: 50%;
            height: 200px;
            margin: 0;
            float: right;
        }

        .names{
            height:1fr;
            width:200px;
            margin:.5%;
        }
    </style>
</head>
<body>
    <h1>Feed</h1>
    <h4> I intentionally made it plain, so that it could be improved upon in final touches. Some of these colors may change</h4>
    <h5>(evertything related to the cards, the background color, and the footer are final)</h5>
    <div class="row">
        <div class=box style="background-image:radial-gradient(#808080, #333333)"></div>
        <div class=box style="background-color: #808080"></div>
        <div class=box style="background-color: #333333"></div>
        <div class=box style="background-color: #1A1A1A"></div>
        <div class=box style="background-color: #CCCCCC"></div>
        <div class=box style="background-color: #000000">
            <div class=box2 style="background-color: #FFFFFF"></div>
        </div>
    </div>
    <div class="row">
        <div class=names><strong>Backgorund</strong> #808080 & #333333</div>
        <div class=names><strong>Footer</strong> #808080</div>
        <div class=names><strong>Aside</strong> #333333 </div>
        <div class=names><strong>Aside lines</strong> #1A1A1A </div>
        <div class=names><strong>Account list</strong> #CCCCCC</div>
        <div class=names><strong>search</strong> #000000 & #FFFFFF</div>
    </div>

    <div class="row">
        <div class=box style="background-color:#E6E7E8"></div>
        <div class=box style="background-color: #BBBDBF"></div>
        <div class=box style="background-color: #A6A8AB"></div>
    </div>
    <div class="row">
        <div class=names><strong>Card Backgorund</strong> #E6E7E8</div>
        <div class=names><strong>Card buttons</strong> #BBBDBF</div>
        <div class=names><strong>Card + and - buttons</strong> #A6A8AB</div>
    </div>

    <div class="row">
        <div class=box style="background-color: #1B75BB"></div>
        <div class=box style="background-color:#207072"></div>
        <div class=box style="background-color: #BE1E2D"></div>
        <div class=box style="background-color: #CA6A10"></div>
        <div class=box style="background-color: #F6921E"></div>
    </div>
    <div class="row">
        <div class=names><strong>Like button</strong> #1B75BB</div>
        <div class=names><strong>Card Border</strong> #207072</div>
        <div class=names><strong>Dislike button</strong> #BE1E2D</div>
        <div class=names><strong>Profile Circle</strong> #CA6A10</div>
        <div class=names><strong>Share button</strong> #F6921E</div>
    </div>
</body>
</html>