<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ userid }}'s Profile</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
    <p>@{{ userid }}</p>
    <p>{{ userid }}</p>
    <form action="{{ userid }}/follow" method="POST">
        <input type="submit" name="follow" value="{{ fstatus }}">
    </form>
    
</body>
</html>